extends ../home.pug
block contenido
		h1 registrar docente
		form(class="form-inline" action="/registro", method="get")
			label(for="nom" class="mr-sm-2") Nombre:
			input(type="text" class="form-control mb-2 mr-sm-2" id="nom" placeholder="Nombre")
			label(for="ape" class="mr-sm-2") Apellido:
			input(type="text" class="form-control mb-2 mr-sm-2" id="ape" placeholder="Apellido")
			label(for="ci" class="mr-sm-2") CI:
			input(type="text" class="form-control mb-2 mr-sm-2" id="ci" placeholder="CI")
			label(for="ape" class="mr-sm-2") Direccion:
			input(type="text" class="form-control mb-2 mr-sm-2" id="dir" placeholder="Direccion")
			label(for="ape" class="mr-sm-2") Telefono:
			input(type="text" class="form-control mb-2 mr-sm-2" id="tel" placeholder="Telefono")
			button(type="submit" value="guardar" class="btn btn-success") guardar