extends ../home.pug
block contenido
		h3 Registrar Nuevo docente
		form(class="" action="/home/docente", method="post")
			.form-group.row
				label(for="nom" class="col-form-label col-sm-2") Nombres:
				.col-sm-5
					input(type="text" class="form-control" id="nom" name="nomb" placeholder="Nombres")
			.form-group.row
				label(for="apep" class="col-form-label col-sm-2") Apellido Pat:
				.col-sm-5
					input(type="text" class="form-control" id="apep" name="apep" placeholder="Paterno")
			.form-group.row
				label(for="apem" class="col-form-label col-sm-2") Apellido Mat:
				.col-sm-5
					input(type="text" class="form-control" id="apem" name="apem" placeholder="Materno")
			.form-group.row
				label(for="ci" class="col-form-label col-sm-2") Cedula Identidad:
				.col-sm-5
					input(type="text" class="form-control " id="ci" name="ci")

			.form-group.row
				label(for="dir" class="col-form-label col-sm-2") Direccion:
				.col-sm-3
					input(type="text" class="form-control"  id="dir" name="dir" placeholder="Direccion")
			
			.form-group.row
				label(for="tel" class="col-form-label col-sm-2") Telefono:
				.col-sm-5
					input(type="text" class="form-control" id="tel" name="tel" placeholder="Telefono")
			.form-group.row
				label(for="gen" class="col-sm-2") Genero:
				.col-sm-5
					div(class="form-check-inline")
						label.form-check-label
							input.form-check-input(name='optradio', type='radio' value="1")
							| Masculino
					div(class="form-check-inline")
						label.form-check-label.mr-sm-2
							input.form-check-input(name='optradio', type='radio' value="0")
							| Femenino
			.form-group.row
				label(for="fecha" class="col-form-label col-sm-2") Fecha Nacimiento:
				.col-sm-2
					input(type="text" class="form-control" id="fecha" name="fecha" placeholder="fecha Nacimiento")
			
			
			//- linea divisora para asignar usuario y pasword
			.form-group.row
				label(for="user" class="col-form-label col-sm-2") Usuario
				.col-sm-5
					input(type="text" class="form-control" id="user" name="user" placeholder="usuario")
			.form-group.row
				label(for="pass" class="col-form-label col-sm-2") Contrasena:
				.col-sm-5
					input(type="text" class="form-control" id="pass" name="pass" placeholder="contrasena")
			button(type="submit" value="guardar" class="btn btn-success") guardar
			