extends ../home.pug
block contenido
		h1 asignar tutor a estudiante
		.table-responsive

			table.table
				thead
					tr
						th nombre
						th paterno
						th materno
						th direccion
						th telefono
						th genero
						th fecha_nac
						th id administrador
						th ci
						th mod
						th eli
				tbody
					
						tr
							
							td 
								a(href= '/home/mostrar/' class="btn btn-outline-info btn-sm") editar
							td 
								form(action="/home/mostrar/?_method=DELETE", class="",method="POST")
									input(type="submit", value="Eliminar" class="btn btn-outline-danger btn-sm")
