extends ./home.pug
block contenido
		h1 Nueva gestion
		form(class="form-inline" action="/home/gestion", method="post")
			label(for="ges" class="mr-sm-2") Gestion:
			input(type="text" class="form-control mb-2 mr-sm-2" id="ges" name="ges"
			placeholder="Gestion")
			
			button(type="submit" value="guardar" class="btn btn-success") guardar

		.table-responsive

			table.table
				thead
					tr
						th id
						th year
				tbody
					for lista in gestion
						tr
							td #{lista.id_gestion}
							td #{lista.year}
							td 
								a(href= '/home/gestion/'+lista.id_gestion+'/edit' class="btn btn-outline-info btn-sm") editar
							td 
								form(action="/home/materias/"+lista.id_gestion+"?_method=DELETE", class="",method="POST")
									input(type="submit", value="Eliminar" class="btn btn-outline-danger btn-sm")