doctype html
html
	head
		title home2
		meta(charset='utf-8')
		link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js', integrity='sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl', crossorigin='anonymous')
		
		link(href='/public/css_locales/dehome2.css', rel='stylesheet')
	body
		.col-md-12.text-center
			h1 Home
		.topnav.col-md-12
			a.active(href='#home') SISReg
			a(href='#news') Estudiantes
			a(href='#contact') Docentes
			a(href='#about') Cursos
			a(href='#about') Materias
			a(href='#about') Horarios
		.dropdown
			button.dropbtn(type='button') Dropdown
			.dropdown-content
				a(href='#') lorem
				a(href='#') Link 2
				a(href='#') Link 3
		.dropdown
			button.dropbtn(type='button') Dropdown2
			.dropdown-content
				a(href='#') Link 1
				a(href='#') Link 2
				a(href='#') Link 3
		.dropdown
			button.dropbtn(type='button') Dropdown3
			.dropdown-content
				a(href='#') Link 1
				a(href='#') Link 2
				a(href='#') Link 3
		.dropdown
			button.dropbtn(type='button') Dropdown4
			.dropdown-content
				a(href='#') Link 1
				a(href='#') Link 2
				a(href='#') Link 3