doctype html
html
	head
		title home
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='/static/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		//- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
		//- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='/public/jquery-3.3.1.js')
		//- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
		script(src='/static/bootstrap/dist/js/bootstrap.min.js')
		link(href="/public/css/app.css" rel="stylesheet")
	body.color2
		nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
			// Brand
			a.navbar-brand(href='/inicio') Sisreg
			// Links
			ul.navbar-nav
				li.nav-item.dropdown
					a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
						| Registrar
					.dropdown-menu
						a.dropdown-item(href='/home/estudiante') Nuevo Estudiante
						a.dropdown-item(href='/home/docente') Nuevo Docente
						a.dropdown-item(href='/home/tutor') Nuevo Tutor
				li.nav-item.dropdown
					a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
						| Ver Lista
					.dropdown-menu
						a.dropdown-item(href='/home/lisadm') Ver administradores
						a.dropdown-item(href='/home/lisest') Ver Estudiantes
						a.dropdown-item(href='/home/lisdoc') Ver Docentes
						a.dropdown-item(href='/home/listut') Ver tutor
				li.nav-item
					a.nav-link(href='/home/materias') Materias
				// Dropdown
				li.nav-item.dropdown
					a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
						| ASIGNACIONES
					.dropdown-menu
						a.dropdown-item(href='/home/asigdoc') asignacion docentes
				li.nav-item.dropdown
					a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
						| Cursos
					.dropdown-menu
						a.dropdown-item(href
						='/home/curso') Agregar curso
				li.nav-item.dropdown
					a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
						| Calificaciones
					.dropdown-menu
						a.dropdown-item(href='#') todo
						a.dropdown-item(href='/calificacion') ver por materias
						a.dropdown-item(href='#') ver por alumno
				li.nav-item.dropdown
					a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
						| HORARIOS
					.dropdown-menu
						a.dropdown-item(href='/home/horario') Crear Horario
						a.dropdown-item(href='#') Ver Horario
				li.nav-item.dropdown
					a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
						| Gestion
					.dropdown-menu
						a.dropdown-item(href='/home/gestion') agregar gestion
				li.nav-item
					a.navbar-brand(href='/logout') Logout
		br

		.container
			block contenido
			