doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= inicio
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/resources/demos/style.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    link(href='/static/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    script(src='/static/bootstrap/dist/js/bootstrap.min.js')
    script.
      $( function() {
      $( "#datepicker" ).datepicker();
      } );
  body
    marquee
      h1 Jade - node template engine (Motor de vista)
      h1 BIENVENIDOS A PORTADA DE SISTEMA ACADEMICO AROMA
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple templating language with a
        strong focus on performance and powerful features.
    form(action="/login", method="get")
      input(type="submit",value="iniciar sistema",class="btn btn-info")
    form(action="/home2", method="get")
      input(type="submit",value="ir a home2",class="btn btn-warning" disabled)
    p
      | Calendar: 
      input#calendar(type='text' disabled)