doctype html
html(lang="en")
	//- link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
	link(href='/static/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
	link(href='/public/css/app.css', rel='stylesheet')
	body
		div(class="col-md-6 remove-float center-block big-top-space")
			center
				h1 Iniciar sesion
			form(action="/session", method="post")
				div(class="form-group")
					label(for="user") Usuario 
					input(type="text", name="user",placeholder="usuario",id="user",class="form-control")
				div(class="form-group")
					label(for="password") Password 
					input(type="password",name="password",placeholder="password",id="password",class="form-control")
			
				div(class="row top-space ")
					div(class="col-xs-6 col-sm-6")
						input(type="submit",value="iniciar",class="btn btn-primary btn-block")
					//- div(class="col-xs-12 col-sm-6")
					//- 	a(href="/admin",class="btn btn-success btn-block") Nuevo admin
				