.right_space{
		margin-right:1em;
	}
.remove-float{
	float:none;
}
.top-space{
	margin-top: 1.5em;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.big-top-space{
	margin-top: 100px;
}
.large-padding{
	paddin:10 px 15px 15px 20px;
}
.black{
	background-color: #222; 
}
.while-text{
	color:white;
}
.img-container{
	width: 700px;
	max-width: 100%;
	margin:0 auto;
}
.img-container h2{
	padding: 15px;
	border-bottom:1px solid #222;
	}
.img-container p{
	text-align: right;
	font-size: 1.2em;
	margin-top: 1em;
}
img{
	max-width: 100%
}

nav{
	text-align: center;
}
nav li{
	display: inline-block;
	margin-right: 1em;
	font-size: 1.5em;
}
nav li a{
	color:white;
}
nav li a:hover{
	color:white;
}
.white{
	background-color: white;
}
.border{
	border:solid 1px #eee;
}
/*.tr:nth-of-type(odd){
	background-color: #eee;
}*/
form.link{
	display:inline-block;
}
form.link input[type="submit"]{
	background-color: transparent;
	border:none;
	color:rgb(200,50,50);
}


