extends ../doce.pug
block contenido
		h3 Materias 
		hr.bg-primary
		p.text-danger.pt-0.mt-0 *Seleccione una materia
		.row
			for mat in materias
				.col-sm-3
					a.btn.btn-info.btn-block(href='/doce/mostrar/'+mat.id_materia) #{mat.area}